h1{
    font-size: 60px;
    font-family: 'Roboto Serif', sans-serif;
}
.img1{
    width: 40%;
    position: relative;
    top: 15%;
    left: 1%;
}
.img2{
    width: 40%;
    position: relative;
    top: 0%;
    right: 16%;
}
.img3{
    width: 40%;
    position: relative;
    left: 25%;
    top: -12%;
}
.img4{
    width: 40%;
    position: relative;
    bottom: 30%;
    left: 8%;
}
.content{
    padding: 200px 150px;
}
.btn{
    margin-right: 20px;
}
@media (max-width: 1182px){
    h1{
        font-size: 50px;
    }
    .img1{
        width: 50%;
        position: relative;
        top: 15%;
        left: -5%;
    }
    .img2{
        width: 50%;
        top: -20%;
        left: 25%;
    }
    .img3{
        width: 50%;
        position: relative;
        top: -25%;
        bottom: 190%;
    }
    .img4{
        width: 50%;
        position: relative;
        top: -60%;
        left: 55%;
    }
    .btn{
        margin-top: 20px;
    }
    .content{
        padding: 10px;
        
    }
    .col{
        padding: 50px;
    }
}
